body {
    background-color: #0022ff; /* Fondo azul marino sólido */
    font-family: 'Arial', sans-serif;
    color: #fff;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    position: relative; /* Necesario para las franjas */
}

body::before,
body::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    height: 50px; /* Altura de las franjas */
}

body::before {
    top: 50%; /* Franja blanca */
    background-color: #ff4136;
}

body::after {
    bottom: 50%; /* Franja roja */
    background-color: #fff;
}

.card {
    max-width: 600px;
    margin: 0 auto;
    background-color: #fff;
    color: #333;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    position: relative; /* Para asegurarse de estar sobre las franjas */
    z-index: 1;
}

.card-title {
    font-size: 2.5rem;
    font-weight: bold;
    color: #0022ff; /* Morado */
}

.card-text {
    font-size: 1.3rem;
    color: #555;
}

button {
    font-size: 1.2rem;
    padding: 10px 20px;
    border-radius: 5px;
    transition: transform 0.2s ease, background-color 0.3s ease;
}

button:hover {
    transform: scale(1.05);
}

.btn-primary {
    background-color: #2575fc;
    border: none;
    color: #fff;
}

.btn-primary:hover {
    background-color: #5c9ef8;
}

.btn-success {
    background-color: #34c759;
    border: none;
    color: #fff;
}

.btn-success:hover {
    background-color: #62d97e;
}
